html(class="login-html")
    head
        title SSUS - #{title}
        link(rel="stylesheet", href="bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Raleway&display=swap")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Catamaran:200&display=swap")
        link(rel="stylesheet", href="style/style.css")
        link(rel="stylesheet", href="style/fontawesome/css/all.min.css")
    body(class="login-body")
        form(action="" method="POST" class="form-signin")
            div(class="")
                img(class="login-logo" src="img/logo_transparent.png")
            div(class="form-label-group")
                input(name="username" id="inputUsername", class="form-control", type="text", placeholder="Username", autocomplete="off", autofocus, required)
                label(for="inputUsername") Username
            div(class="form-label-group")
                input(name="password" id="inputPassword", class="form-control", type="password", placeholder="Password", autocomplete="off", required)
                label(for="inputPassword") Password
            if login == "unsuccessful"
                div(class="alert alert-danger") Username or password is incorrect.
            button(class="btn btn-lg btn-dark btn-block" type="submit") Sign in
