<!DOCTYPE html>
<html lang="en" class="login-html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSUS - Login</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:200&display=swap">
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/style/style.css">
</head>
<body class="login-body">
    <form action="" method="POST" class="form-signin">
        <div>
            <img class="login-logo" src="img/logo_transparent.png">
        </div>
        <div class="form-label-group">
            <input name="username" id="inputUsername" class="form-control" type="text" placeholder="Username" autocomplete="off" autofocus required>
            <label for="inputUsername">Username</label>
        </div>
        <div class="form-label-group">
            <input name="password" id="inputPassword" class="form-control" type="password" placeholder="Password" autocomplete="off" required>
            <label for="inputPassword">Password</label>
        </div>
        <button class="btn btn-lg btn-dark btn-block" type="submit">Sign in</button>
    </form>
</body>
</html>
